[submodule ".registry"]
	path = .registry
	url = https://github.com/yjunechoe/yjunechoe.r-universe.dev
	branch = HEAD
[submodule "ggcolormeter"]
	path = ggcolormeter
	url = https://github.com/yjunechoe/ggcolormeter
[submodule "ggtrace"]
	path = ggtrace
	url = https://github.com/yjunechoe/ggtrace
[submodule "jlmerclusterperm"]
	path = jlmerclusterperm
	url = https://github.com/yjunechoe/jlmerclusterperm
