[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jlmerclusterperm"]
	path = jlmerclusterperm
	url = https://github.com/yjunechoe/jlmerclusterperm
